:root {
  --mint: #C9EDDC;
  --night: #0A090C;
  --forest: #07393C;
  --lav: #93748A;
  --flash: #EBEBEB;
}

.header {
    background: var(--night);
    height: 100px;
  }
  
.header h1 {
    margin: 0;
    padding-top: 75px;
    text-align: center;
    color: var(--flash);
    font-size: 3rem;
  }