:root {
  --mint: #C9EDDC;
  --night: #0A090C;
  --forest: #07393C;
  --lav: #93748A;
  --flash: #EBEBEB;
}

.navbar {
    background: var(--night);
    height: 60px;
  }
  
.navbar a {
    color: var(--flash);
    font-size: 1.3rem;
    text-decoration: none;
    margin: 5px;
    line-height: 3;
}